

@keyframes inView {
    from{transform: translate(-10vw); opacity: 0.8;  filter: blur(4px);} 
    to{transform: translate(0px); opacity: 1; filter: blur(0px);}
    
  }

.fade-inAnimation{
    animation: inView 1s ease-out 1 ;
  }