/* Background Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Text Styling */
/* .bk {
  color: black;
} */
.containerBg {
  /* background-image: url("../../public/images/BG.png"); */
  color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bfnt {
  font-size: 2em;
}

/* Contact Container */
.contactContainer {
  padding: 20px;
  border-radius: 15px;
  max-width: 90vw;
  margin: 50px auto;
  text-align: center;
  box-shadow: 0 4px 10px rgba(253, 253, 253, 0.773);
  background: rgba(255, 255, 255, 0.625);
}

/* Heading */
.heading {
  font-size: 2.5em;
  margin-bottom: 10px;
}

/* Paragraph Styling */
.contactContainer p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Contact Info Section */
.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* Contact Item */
.contactItem {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
}

/* Contact Item Image */
.contactItem img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

/* Label Styling */
.labls {
  text-align: left;
  height: auto; 
}

.labls p {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

/* Links Styling */
.labls a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.labls a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (min-width: 768px) {
  .contactInfo {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contactItem {
    width: 45%;
  }
  .labls p a {
    font: .5em;
  }
}

@media (min-width: 1024px) {
  .contactContainer {
    max-width: 60vw;
    padding: 40px;
  }

  .heading {
    font-size: 3em;
  }

  .contactItem {
    width: 40%;
  }
}

@keyframes sectionAnimation {
  from{
    transform: translateY(100px);
    opacity: 0;
    scale: 0.8;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
    scale: 1;

  }
}
.contactContainer{
  animation: sectionAnimation linear;
  animation-timeline: view(100vh 0);
}