/* FAQ.module.css */

/* Background and layout */
.container {
  font-family: Arial, sans-serif;
  /* background-image: url("../../public/images/BG.png"); */
  min-height: 100vh;
  text-align: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  
}

/* Header style */
.header {
  margin-bottom: 10px;
}

.header h1 {
  font-size: 3em;
}

.header p {
  margin-top: 3px;
  font-size: 1.5em;
}

/* Illustration image styling */
.illustration img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: auto;
}

/* FAQ section container */
.faq {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
}

/* Each FAQ item */
.faqItem {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0;
}

.faqItem:last-child {
  border-bottom: none;
}

/* FAQ question styling */
.faqQuestion {
  color: #e0aaff;
  cursor: pointer;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  transition: 0.3s ease;
  padding: 5px;
  border-radius: 17px;
  transition: all 150ms linear;
}

.faqQuestion:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Dropdown arrow */
.arrow {
  font-weight: bold;
  font-size: 1.5em;
}

/* FAQ answer styling */
.faqAnswer {
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.5em;
  color: white;
  transition: all 1s linear;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 90vw;
    margin-left: 5vw;
    padding: 20px;
  }

  .header h1 {
    font-size: 2.2em;
  }

  .header p {
    font-size: 1.2em;
  }

  .faq {
    width: 100%;
    padding: 15px;
  }

  .faqQuestion {
    font-size: 1em;
  }

  .faqAnswer {
    font-size: 0.9em;
  }
}

@keyframes sectionAnimation {
  from{
    transform: translateY(100px);
    opacity: 0;
    scale: 1.8;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
    scale: 1;

  }
}
.faq{
  animation: sectionAnimation linear;

  animation-timeline: view(100vh 0);
}