@keyframes showUp {
    0%{scale: 0.8; opacity: 0.5;}
   
    100%{scale: 1; opacity: 1;}
}

ul li::marker{
    color: #7209b7 ;
    
}
li{
    font-size: large;
    flex : 1 1 auto;
    font-weight: 300;
}

.ourServicesBlock{
    margin: 2rem;
    padding: 1rem;

}

.ourServicesBlock h1{
    font-size: 4rem;
    padding: 1rem;
    color : #7209b7;
    
}

.flexCol{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    /* color: #3a0ca3; */
    font-weight: bold;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    row-gap: 0.4em;
    width: 85%;
    padding: 0rem 3rem;
    justify-content: flex-start;
    
}
.container{
    width: 100%;
    padding: 1rem;
  
    display: flex;
    align-items: center;
    border-bottom: 2px solid #7209b7;
}
.listContainer{
    width: 100%;
    animation: showUp 1s ease-out 1 forwards;
    animation-timeline: view();
    animation-range-start: 0;
    animation-range-end: 20vh;
}
.deptContainer{
    width: 50%;
    font-weight: 800;
    font-size: 2rem;

}

@media  screen and (max-width:764px) {
    .container{
        flex-direction: column;
        gap: 16px;
    }
    .ourServicesBlock{
        font-size: 0.85rem;
    }
    .ourServicesBlock h1{
        font-size: 2.5rem;
        padding: 0rem;
    
    }
    .flex{
       padding: 1rem ;
        gap: 8px;
    }
    .deptContainer{
        width: 100%;
        margin: auto;
    }
}

@keyframes sectionAnimation {
    from{
      transform: translateY(100px);
      opacity: 0;
      scale: 1.1;
    }
    to{
      transform: translateY(0px);
      opacity: 1;
      scale: 1;
  
    }
  }

.container{

    animation: sectionAnimation linear;
    animation-timeline: view(90vh 0);
}
h1{
    animation: sectionAnimation linear;
    animation-timeline: view(80% 0);
}
h2{
    animation: sectionAnimation linear ;
    animation-timeline: view(80% 0);
}