.container {
    background-color: #2e0b46;
    color: white;
    border-bottom-left-radius: 70px;
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 20px;
    width: auto;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

 
  .content {
    flex: 1;
  }
  
  .eventLabel {
    color: #fbc02d;
    font-weight: bold;
  }
  
  .heading {
    font-size: 2.7rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    color: #d1c4e9;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
 

  
  .imageContainer {
    display: none;
  }
  
  .image {
    width: 100%;
    max-width: 250px;
  }
  
  /* Responsive Design */
  @media (min-width: 768px) {
    .imageContainer {
      display: block;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      padding: 40px;
    }
  }
  