.App {
    /* background-image: url("../public/images/BG.mp4") !important; */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    min-height: 100vh;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    color: whitesmoke; 
    transition: color 1s ease-in 250ms;
    overflow-x: hidden;
}

h2{
  color: #5a189a ;
  text-decoration: double;
  animation: headingAnimation linear ;
  animation-timeline: view(60vh auto);
}

video {
    position: fixed;
    z-index: -5;
}
.btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.background-layer {
    z-index: -4;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: var(--background-light);
    transition: background-color 0.5s ease-in;

}
:root {
  --background-light: #ffffff78;
  --background-dark: #1a1a1a00;
}


.background-layer[data-theme='dark'] {
  background-color: var(--background-dark);
  
}

@keyframes inView {
  from{transform: translate(-10vw); opacity: 0.5; } 
  to{transform: translate(0px); opacity: 1; }
  
}

.fade-inAnimation{
  animation: inView 1s ease-in 1 ;
}

@keyframes headingAnimation {
  from{
    transform: translateY(100px);
    opacity: 0;
    scale: 0.8;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
    scale: 1;

  }
}